.content {
  font-size: 35px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.img {
  height: 350px;
  width: 520px;
}

.productRight {
  margin-left: 40px;
}

.dec,
.inc {
  width: 40px;
  height: 45px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #333;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.dec:hover,
.inc:hover {
  background-color: #e2e2e2;
}

.addCart:hover {
  background-color: #d1a064;
}

.quantity_control input {
  width: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
}

.discount {
  display: inline-block;
  padding: 3px 14px;
  margin-left: 10px;
  background: #cfab68;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: white;
  vertical-align: text-bottom;
}

.price {
  font-size: 25px;
  font-weight: 600;
  color: grey;
  margin-left: 10px;
}

.type {
  border-bottom: 1px solid #ebecf0;
  padding-bottom: 15px;
}

.lhat {
  margin-top: 25px;
  font-weight: bold;
}

.addCart {
  width: 60%;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  background-color: #cfab68;
  border-color: #cfab68;
  color: white;
  border: 3px solid #cfab68;
  margin-left: 20px;
  border-radius: 2px;
}

.info {
  margin-top: 15px;
  font-weight: bold;
}

.infoD {
  margin-left: 20px;
}

.infoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}